
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@*paragraphe.id = 1;
    paragraphe.Numero = 11;
    paragraphe.Titre = "The Question";
    paragraphe.Description = "description de la question";*@