@model List<Aventure>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center">@ViewBag.MonTitre</h1>

<h2 class="text-center small">Vos dernières aventures</h2>

<div class="row justify-content-center">
    <a asp-controller="Aventure" asp-action="Create" class="btn btn-primary">Nouvelle aventure</a>
</div>

<div class="row">
    @foreach (var aventure in Model)
    {
        <a href="#" class="card border m-2 text-center" style="width: 7rem;">
            <div class="card-body">
                @aventure.Titre  
            </div>
        </a>
    }
</div>